.r1{
    background-color: yellow;
    align: center;
    border: 4px dashed black;
}

.fa {
   
    padding: 6px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  
  .fa-yahoo {
    background: #430297;
    color: white;
  }

.abc{
    background: url("images/fback.jpg");
    background-size: cover;
}
.mainpage{
    background: url("images/fback.jpg");
    background-size: cover;
}
.brdr1{
    margin: 1px;
    border-radius: 15px;
}
.img-rounded:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #0D8502;
    color: white;
    padding: 8px 20px;
    margin-top: 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#gstbook{
    background-color: #0D8502;
    color: white;
    
    cursor: pointer;

}

.input[type=submit]:hover{

    background-color: #36bad8 !important;
    color: white;  
}

/* Add a background color and some padding around the form */
.contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.btn-group-justified>.btn-group .btn {
    width: 95%;
    border-radius: 0px;
}

.btn{
    
    top: 7px;
}

.row1{
    background: black;
}

.back {
    color: #e4eaef;
    text-decoration: none;
    margin-right: 60px;
    font-size: medium;
}

.btn-primary:hover {
    color: #fff;
    background-color: #36bad8;
    border-color: #8a8686;
}
.btn-primary {
    color: #fff;
    background-color: black;
    border-color: #afb1b3;
    /* border-radius: 20px; */
}

.f1{
    background: #f1f1f1;
    max-height: 100px;
    color: purple;
    text-align: center;
}
.fot{
    padding-top: 10px;
}
.padd{
    padding-left: 20px;
}
.rr1,.rr2{
    align-content: center;
    float: center;
}
.socl{
    padding-top: 190px;
}
.c1{
    padding-top: 30px;
}
.leg{
    font-size: x-large;
}

.fset {
    min-width: 0;
    padding-right: 100px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin: 0px;
    border: 1px solid black;
}

.fset1 {
    min-width: 0;
    padding-right: 100px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin: 0px;
    border: 1px solid black;
    font-size: large;
}
.hdng{
    color: white;
}

.abc{
    background-image: url ("images/pic.jpg");
}


.sidebar{
    position:relative;
    float: right;
    /* background-color: rgb(94, 232, 103); */
    background-image: url("images/food/pic6.jpg");
	border-left: 1px solid black;
	border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
	margin: 0;
	overflow: scroll;
    
    }
.vid {
        display: inline-block;
        vertical-align: baseline;
        margin-top: 0px;
        /* margin-left: -23px; */
        padding-right: 20px;
    }

.j1{
    max-height: 100px;
    margin-top: 0px;
    /* background-image: url("images/fback.jpg"); */
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10px;
}


.jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
    background: url();
}
.btn-lg {
    /* padding: 10px 16px; */
    /* font-size: 18px; */
    line-height: 1.3333333;
    border-radius: 6px;
}
#cls2{
    padding-right: 11px;
}
#cls1{
    padding-right: 38px;
}

.imgrow {
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-top: 50px;
}
.container {
    /* width: 1364px; */
    padding-right: 15px;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
.navbar-marg0 {
    margin-bottom: 0px;
}
.btn-info {
    color: #FFFFFF;
    background-color: #0D8502;
    border-color: #795548;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    
    touch-action: manipulation;
    cursor: pointer;
    
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
   
}
.h3f{
    margin-top: -15px;
}

.hover a:hover{
    background-color: #47D23F;
	color: purple;
}

#tomato{
    max-width: 340px;
    border: 2px solid black;
    padding: 5px;
    margin-bottom: 20px;
    
}

.carousel-img{
    max-height: 370px !important;
    width: 100%;
    top: 20px;
}

.badge {
    min-width: 10px;
    padding: 3px 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
    margin-left: 10px;
}
.photo-row{
    
    text-align: center;
}
.img-div{
    margin-top :70px;
    margin-bottom: 10px;
}

.container2{
    min-height: 35em !important;
}