<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ujjawal's Restaurant</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="FINALCSS.css" />
</head>

<body class="abc">
    <div classs="container container2">
        <div class="row row1">
            <div class="col-sm-4">
                <img src="images/ujjawal-logo.jpg" width="220px" height="75px" align="left" id="headerIMG1">
            </div>
            <div class="col-sm-8">
                <div class="btn-group btn-group-justified btn">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" onclick="window.open('/','_self')">Home</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                          Gallary<span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/photo">Photos</a></li>
                            <li><a href="/video">Videos</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" onclick="window.open('/about','_self')">About Me</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" onclick="window.open('/contact','_self')">Contact Us</button></div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                          More <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/calorie">Calculate Calorie</a></li>
                            <li><a href="/guestbook">Guest Book</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container c1">
            <div class="row row2">
                <div class="col-sm-12">
                    <form action="/action_page.php">
                        <fieldset class="fset">
                            <legend class="leg">Ujjawal's Restaurant Guest Book Entries </legend>


                            <h1>
                                Ujjawal's Restaurant Guest Book
                                <!-- <a href="/new-entry"  class="btn btn-primary pull-right" id="gstbook">
            Write in the guestbook
            </a> -->
                                <a href="/new-entry" button type="button" class="btn btn-info btn-lg pull-right">Write in the guestbook</button></a>
                            </h1>

                            <% if (entries.length) { %>
                                <% entries.forEach(function(entry) { 
                                console.log(entry.title)
                                console.log(entry.content)
                                console.log(entry.published)
                                %>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="text-muted pull-right">
                                                <%= entry.published %>
                                            </div>
                                            <%= entry.title %>
                                        </div>
                                        <div class="panel-body">
                                            <%= entry.content %>
                                        </div>
                                    </div>
                                    <% }) %>
                                        <% } else { %>
                                            No entries! <a href="/new-entry">Add entry</a>
                                            <% } %>

                        </fieldset>
                </div>
            </div>
        </div>





        <div class="footer f1">
            <address>
                <center>
                    <hr> Ujjawal's Restaurant of Indian Food &nbsp; &#9728; 1115 N College Drive &nbsp; &#9728; &nbsp; Aptt.
                    #87 &nbsp; &#9728; &nbsp; Maryville &nbsp; &#9728; &nbsp; MO 64468 &nbsp;
                    <br> &nbsp; (480) 560-6304
                    <hr>
            </address>
            </center>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="main.js"></script>

</body>

</html>